body {
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
}

.clock {
    font-size: 4em;
}

.cold {
    background-color: #95A5A6;
}

.chilly {
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
